#### LOCAL TESTING ####
WORKSPACE="dev" 
# Options:
# - prod
# - dev
# - dev_sqs (prod SQS)
# - dev_sqs_s3 (prod SQS+S3)

# api keys
GOOGLE_API_KEY=google-api-key
ELEVENLABS_API_KEY=11-api-key
GEMINI_API_KEY=gemini-api-key

# supabase
SUPABASE_HOST=localhost
SUPABASE_PORT=5432
SUPABASE_USER=postgres
SUPABASE_PASSWORD=postgres
SUPABASE_DATABASE=postgres
JWT_SECRET=super-secret-jwt-token-with-at-least-32-characters-long

# MinIO S3
S3_USERNAME=minioadmin
S3_PASSWORD=minioadmin
S3_URL=http://localhost:9000
CONTENT_BUCKET_NAME=squeak-storage

# STRIPE (testing)
STRIPE_KEY=your-stripe-secret-key
STRIPE_WEBHOOK_SECRET=your-stripe-webhook-secret

# No Queue
WHISKER_URL=http://localhost:8081/create

# SQS (remote)
AWS_REGION=region
AWS_PROFILE=default
REMOTE_CONTENT_BUCKET_NAME=squeak-storage-123...
SQS_QUEUE_URL=https://sqs.region.amazonaws.com/...