# Terraform files and directories to ignore
.terraform/
.terraform.*
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfvars.json


environments/*
!environments/example.tfvars

# Go Binary for Lambda
function.zip
front-function.zip
filler-function.zip